<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuizClash_Arena_Multimedia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QuizClash_Arena_Multimedia.styles.css" asp-append-version="true" />
    <style>
        /* Ajuste para mover el icono más a la izquierda y animación hover */
        .navbar-icon {
            margin-left: -70px; 
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            margin-top: 20px;
        }

            .navbar-icon:hover {
                transform: scale(1.1); 
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
            }
    </style>
</head>
<body>
    <header>
            <div class="container">
            <a asp-area="" asp-page="/Index" class="navbar-brand">
                <img src="~/images/icono.jpeg" alt="Icono" class="navbar-icon" style="width: 130px; height: auto;" />
            </a>
            </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - QuizClash_Arena_Multimedia - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
