@page
@model QuizClash_Arena_Multimedia.Pages.IndexModel
@{
    ViewData["Title"] = "QuizClash_Arena";
}

<style>
    body {
        background-image: url('/images/fondo_azul.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-family: Arial, sans-serif;
        color: white;
        margin: 0;
        padding: 0;
    }

    /* Estilo para el título */
    h1 {
        text-align: center;
        font-size: 4em;
        margin-top: 10px;
        background: linear-gradient(90deg, #ff6699, #ffcc00);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: gradient 5s infinite;
        text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    }

    /* Estilo para el texto de bienvenida */
    p {
        text-align: center;
        font-size: 1.5em;
        margin-bottom: 20px;
        color: #ffffff;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }

    /* Estilo para el botón principal */
    #playButton {
        font-size: 26px;
        padding: 15px 40px;
        background-color: #ff4500;
        color: white;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
        margin-top: 20px;
    }

    /* Estilo para la sección de opciones */
    #options {
        text-align: center;
        margin-top: 20px;
    }

        /* Estilo para los botones de opciones */
        #options button {
            font-size: 20px;
            padding: 10px 30px;
            background-color: #ff4500;
            color: white;
            border: none;
            border-radius: 10px;
            margin: 10px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.3s;
        }

            #options button:hover {
                background-color: #ff3366;
                transform: scale(1.05);
            }
</style>

<div style="margin-top: 10vh;">
    <!-- Contenedor principal para subir los elementos -->
    <h1>QuizClash_Arena</h1>
    <p>Bienvenido al juego de memes. ¡Diviértete creando y compartiendo!</p>

    <div style="text-align: center;">
        <button id="playButton">A JUGAR</button>
    </div>
</div>

<div id="options" style="display:none;">
    <h2>Selecciona una opción:</h2>
    <button id="playGameButtonConTwitch" class="btn btn-success">Crear una partida con Twitch</button>

    <button id="playGameButtonSinTwitch" class="btn btn-success">Crear una partida sin Twitch</button>
       

    <form method="get" asp-page="JoinGame">
        <button type="submit">Unirse a una partida</button>
    </form>
</div>


<script>
    // Redirige al archivo '/start-chat-poll' con los parámetros al hacer clic en el botón
    document.getElementById("playGameButtonConTwitch").addEventListener("click", function () {
        

        // Construir la URL con los parámetros
        const url = `/Login_Twitch?Twitch=True`;

        // Redirigir a la URL construida
        window.location.href = url;
    });
</script>
<script>
    // Redirige al archivo '/start-chat-poll' con los parámetros al hacer clic en el botón
    document.getElementById("playGameButtonSinTwitch").addEventListener("click", function () {


        // Construir la URL con los parámetros
        const url = `/Create_game?Twitch=False`;

        // Redirigir a la URL construida
        window.location.href = url;
    });
</script>
<script>
    document.getElementById("playButton").addEventListener("click", function () {
        document.getElementById("options").style.display = "block";
    });
</script>
