@page
@model QuizClash_Arena_Multimedia.Pages.Login_TwitchModel
@{
    ViewData["Title"] = "Iniciar sesión con Twitch";
}

<h2>Iniciar sesión con Twitch</h2>
<a href="/signin-twitch">Iniciar sesión con Twitch</a>
