@page
@using QuizClash_Arena_Multimedia.Services
@inject TwitchApiService TwitchApiService  // Inyectamos el servicio para interactuar con Twitch

<h2>Bienvenido a QuizClash</h2>

@if (User.Identity.IsAuthenticated)
{
    var username = User.Identity.Name;
    var broadcasterId = User.FindFirst("brodcasterId")?.Value;

    <p>Bienvenido, @username</p>
    <p>Tu Broadcaster ID es: @broadcasterId</p>
    
    <!-- Enlace para iniciar el stream -->
    <a href="/prueba2" class="btn btn-primary">Iniciar emisión en Twitch</a>
    <a href="/signin-twitch">Iniciar sesión con Twitch</a>

}
else
{
    <p>Por favor, inicia sesión con Twitch.</p>
    <a href="/signin-twitch">Iniciar sesión con Twitch</a>
}
